@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
.navbar {
  background-color: #1a1d21;
}
.navLogo {
  width: 255px !important;
  height: 125px !important;
}
.nav-link {
  color: #ffb027;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 23px;
}
.nav-link:hover {
  color: #ffb027 !important;
  background-color: #1A1D21 !important;
}
.navbar-menu {
  background-color: #1A1D21 !important;
}

.nav-item-cart {
  background: linear-gradient(145deg, #1c1f23, #171a1e);
  box-shadow:  10px 10px 20px #0a0c0d,
               -10px -10px 20px #2a2e35 !important;
  border-radius: 50% !important;
  padding: 25px 15px !important;
  max-height: 100px;
  max-width: 100px;
}
.navbar-cart {
  height: 58px !important;
  width:58px !important;
}
.nav-item {
  margin-left: 25px !important;
}
.navbar-end {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .navLogo {
    width: 200px;
    height: 75px;
  }
  .nav-link {
    font-size: 17px;
  }
  .navbar-cart {
    height: 30px;
    width: 30px;
  }
  .nav-item-cart{
    padding: 5px 5px !important;
  }
}
@media only screen and (max-width: 382px) {
  .navLogo {
    width: 160px;
    height: 55px;
  }
  
}
@media only screen and (max-width: 1023px) {
  .navbar-end {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
}