@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
.profileAccountsContainer {
  margin-top: 100px;
}
.profileAccountsBox {
  background: linear-gradient(145deg, #1c1f23, #171a1e);
  box-shadow:  10px 10px 20px #0a0c0d,
               -10px -10px 20px #2a2e35;
  border-radius: 20px;
  padding: 35px 120px;
}
.profileAccountsHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 650;
}
.form-control {
  border-radius: 71px;
  background: #1a1d21;
  box-shadow: inset 20px 20px 40px #0a0c0d, inset -20px -20px 40px #2a2e35;
  border: none;
  padding: 35px !important;
}
.input-group {
  border-radius: 71px;
  background: #1a1d21;
  box-shadow: 20px 20px 40px #0a0c0d, -20px -20px 40px #2a2e35;
  border: 8px solid #1e2025;
}
.form-control::placeholder {
  text-align: center !important;
  color: #707070;
}
.profileAccountsAmount {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 80px;
}
.profileAccountsTryText {
    font-family: "Montserrat", sans-serif;
    color: #ffb027;
    font-weight: 550;
}
.profileAccountsPayText{
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.profileAccountsSubText{
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-size: 18px;
  
}
.profileAccountContactText{
  font-family: "Montserrat", sans-serif;
  color: #ffb027;
  font-weight: 600;
  font-size: 20px;
}
.profileAccountsLearnText{
  font-family: "Montserrat", sans-serif;
  color: #ffb027;
  font-weight: 600;
}
@media only screen and (max-width: 1100px) {
.profileAccountsBox{
  padding: 30px 70px;
}
}
@media only screen and (max-width: 875px) {
  .profileAccountsBox{
    padding: 25px 30px;
  }
  .profileAccountsAmount{
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px){
  .profileAccountsBox{
    padding: 25px 60px;
  }
}